*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
    
}


body {
    color: rgba(var(--i1d,38,38,38),1);
    background-color: #fafafa;
    display: block;
    /*max-height: 635px;*/
    
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 12.5px;
    line-height: 18px;
}

.corpo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 70px;
    margin-bottom: 90px;
}

.login {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    min-width: 500px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 1px;
    
}

.wallpapers {
    position: absolute;
    margin-left: -150px;
    margin-top: -580px;
    object-fit: cover;
    
}

#slider img {
    object-fit: cover;
    opacity: 0;
    position: absolute;
    transition: opacity 2s;
}

#slider img.selected {
    opacity: 1;
}

.wallpapers img{
    position: absolute;
    
}

wallpaper1{
    margin-top: 15px;
    margin-left: -309px;
    padding-bottom: 60px;
}

wallpaper2 {
    margin-top: 15px;
    margin-left: -253px;
    padding-bottom: 60px;
}

wallpaper3 {
    margin-top: 15px;
    margin-left: -253px;
    padding-bottom: 60px;
}

.celular {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin: 20px 0;
}

.store {
    display: flex;
    align-items: center;
    justify-content: center;

}

.login-info {
    display: flex;
    width: 324px;
    flex-direction: column;
    position: relative;
    color: #8e8e8e;
    justify-content: space-between;
    align-content: space-between;

}



.login-info label {
    position: relative;
    padding-left: 35px;
}

.login .login-info input {

    background: rgba(var(--b3f,250,250,250),1);
    width: 100%;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance:none;
    height: 100%;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    border-radius: 3px;
    padding: 5px 5px;
    font-size: 12px;
    position: relative;
    
    
}

.login-info input:focus{

}

.login-info input::placeholder{
    color: transparent;
}

.login-info label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;   
}

.login-info input:required:invalid + label{

}

.login-info input:focus:required:invalid{
    
}

.login-info input:required:invalid + label:before{
    content: '*';
}

.login-info input:focus + label,
.login-info input:not(:placeholder-shown) + label{
font-size: 10px;
margin-top: 8px;
}



















.cadastro1 {
    
    
}

.cadastro2 {
    width: 300px;
    height: 35px;
    margin-bottom: 15px;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    border-radius: 3px;
    outline-color: rgba(var(--ca6,219,219,219),1);
    padding: 1px;
}

.botao {
    width: 270px;
    height: 28px;
    background-color: #0095f6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    transition: background .25s ease-in-out;
    margin-top: 7px;
}

.botao:hover {
    background-color: #295999;
}

.botao:disabled {
    opacity: .4;
    cursor: default;
}

.botao:disabled:hover {
    background-color: #0095f6;
    transition: background .25s ease-in-out
}


.linhas {
    display: flex;
    margin: 17px 40px 18px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.linha1 {
    width: 110px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    height: 1px;
    position: relative;
    top: .45em;
    background-color: rgba(var(--b38,219,219,219),1);
}

.linha2 {
    width: 110px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    height: 1px;
    position: relative;
    top: .45em;
    background-color: rgba(var(--b38,219,219,219),1);
}

.ou {
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    text-transform: uppercase;
}

.entrar {
    color: white;
    font-size: 15px;
}

.play-store {
    
    cursor: pointer;
}

.apple-store {
    
    cursor: pointer;
}

.lost-pass {
margin-top: 12px;
}

.lost {
    text-decoration: none;
    color: #00376b;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    
}

.botao-face {
    align-items: center;
    justify-content: center;
    border: 0;
    color: #0095f6;
    color: rgba(var(--d69,0,149,246),1);
    display: inline-block;
    padding: 0;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 0 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
    margin: 3px;
}

.text-face {
    display: flex;
    padding-left: 8px;
    color: #3b5187;
}

.icon-face {
    
}

.container-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    
    background-color: #fff;
    background-color: rgba(var(--d87,255,255,255),1);
    border: 1px solid #dbdbdb;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 1px;
    padding: 10px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    background-color: rgba(var(--d87,255,255,255),1);
    border: 1px solid #dbdbdb;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    width: 350px;
    margin-top: 30px;
}

.nao-tem-conta {
    display: flex;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgba(var(--f52,142,142,142),1);
    text-decoration: none;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: row;
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
    font-size: 14px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    }

.cadastro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
    color: rgba(var(--d69,0,149,246),1);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    
    
}

.obtenha {
    color: rgba(var(--i1d,38,38,38),1);
    font-size: 14px;
    line-height: 18px;
    margin: 10px 20px 10px 20px;
    text-align: center;
}

main {
    
    overflow: hidden;
    display: flex;
}

.footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    margin: 10px;
    color: rgba(var(--i1d,38,38,38),1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;

}

.container-footer {
    display: flex;
    width: 1315px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    color: rgba(var(--i1d,38,38,38),1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.linha1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.lista{
    margin: 10px;
    color: rgba(var(--i1d,38,38,38),1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}